@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = Model.Name + " Role Details";
}
<div class="container page text-center">
    <br />
    <div>
        <h1>@ViewBag.Title</h1>
        <hr />
        <h2><strong>@Html.DisplayNameFor(model => model.Name):</strong></h2>
        <br />
        <h2>@Html.DisplayFor(model => model.Name)</h2>
    </div>
    <br />
    <h2><strong>List of users in this role:</strong></h2><br />
    @if (ViewBag.UserCount == 0)
    {
        <hr />
        <p>No users found in this role.</p>
    }

    <table class="table">

        @foreach (var item in ViewBag.Users)
        {
            <tr>
                <td>
                    <h2>@item.FirstName @item.LastName</h2>
                </td>
            </tr>
        }
    </table>
    <p>
        <br />
        <div>
            @Html.ActionLink("Edit", "Edit", "UsersAdmin", new { id = Model.Id, @class = "btn btn-default" })
            &emsp;
            @Html.ActionLink("Cancel", "Index", "UsersAdmin", new { @class = "btn btn-cancel" })

        </div>
    </p>
</div>


