@model FSDP.DATA.Lesson

@{
    ViewBag.Title = "Create";
}

<div class="container">
    @using (Html.BeginForm("Create", "Lessons", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h1 class="text-center">Add a Lesson</h1>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row justify-content-md-center">
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.LessonTitle, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.LessonTitle, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LessonTitle, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.CourseID, "CourseID", htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.DropDownList("CourseID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CourseID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row justify-content-md-center">
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Introduction, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.Introduction, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Introduction, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.LessonImage, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.LessonImage, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LessonImage, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row justify-content-md-center">
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.VideoUrl, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.VideoUrl, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.VideoUrl, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.PdfFileName, htmlAttributes: new { @class = "control-label" })
                    <div>
                        <input type="file" name="lessonPdf" />
                        @Html.ValidationMessageFor(model => model.PdfFileName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row justify-content-md-center">
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.QuizQuestion, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.QuizQuestion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.QuizQuestion, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.QuizAnswer, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.QuizAnswer, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.QuizAnswer, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="form-group col-md-4 text-left">
                    <span >
                        <input type="submit" value="Create" class="btn btn-default" />
                    </span>
                </div>
                <div class="form-group col-md-4 text-right">
                    <span>
                        @Html.ActionLink("Cancel", "Index", "Lessons", new { @class = "btn btn-cancel" })
                    </span>
                </div>
            </div>
        </div>
    }


</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
