@model IEnumerable<FSDP.DATA.CourseCompletion>

@{
    ViewBag.Title = "Course Completions";
}
<div class="container">
    <h2>@ViewBag.Title</h2>

    <p>
        @Html.ActionLink("Add New Course Completions", "Create")
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DateCompleted)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AspNetUser.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cours.CourseName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCompleted)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AspNetUser.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cours.CourseName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.CourseCompletionID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.CourseCompletionID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.CourseCompletionID })
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
