@model IEnumerable<FSDP.DATA.CourseCompletion>

@{
    ViewBag.Title = "Course Completions";
}
<div class="container">
    <h2>@ViewBag.Title</h2>

    <p>
        @Html.ActionLink("Add New Course Completions", "Create")
    </p>
    <table class="table">
        <thead>
            <tr>
                @if (User.IsInRole("Admin"))
                {
                    <th></th>
                }
                

                <th>
                    @Html.DisplayNameFor(model => model.AspNetUser.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Courses.CourseName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateCompleted)
                </th>


            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                            <a href="@Url.Action("Edit", new { id= item.CourseCompletionID})" class="fa fa-pencil-square-o"></a> |
                            <a href="@Url.Action("Delete", new { id= item.CourseCompletionID} )" class="fa fa-trash"></a>
                        </td>
                    }
                    <td>
                        @Html.ActionLink(item.AspNetUser.FullName, "Details", new { id = item.CourseCompletionID })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Courses.CourseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCompleted)
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
