@model IEnumerable<FSDP.DATA.CourseCompletion>

@{
    ViewBag.Title = "Course Completions";
}
<div class="container page">
    <h1 class="text-center">@ViewBag.Title</h1>
    @if (User.IsInRole("Admin"))
    {
        <h2>
            <a href="@Url.Action("Create")" class="fa fa-plus-square-o" title="Add New Course Completion"> Course Completion</a>
        </h2>
    }
    <table class="table">
        <thead>
            <tr>
                @if (User.IsInRole("Admin"))
                {
                    <th></th>
                }
                

                <th>
                    @Html.DisplayNameFor(model => model.AspNetUser.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Courses.CourseName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateCompleted)
                </th>


            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @if (User.IsInRole("Admin"))
                    {
                        <td class="manage">
                            <a href="@Url.Action("Edit", new { id= item.CourseCompletionID})" title="Edit" class="fa fa-pencil-square-o"></a> |
                            <a href="@Url.Action("Delete", new { id= item.CourseCompletionID} )" title="Delete" class="fa fa-trash"></a>
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem=>item.AspNetUser.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Courses.CourseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCompleted)
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
