@model IEnumerable<FSDP.DATA.ClassDate>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoreClass.ClassName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StoreClass.ClassName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClassDateID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClassDateID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClassDateID })
        </td>
    </tr>
}

</table>
