@model IEnumerable<FSDP.DATA.ClassDate>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <thead>
            <tr>
                @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                {
                    <th></th>
                }
                <th>
                    @Html.DisplayNameFor(model => model.StoreClass.ClassName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClassLimit)
                </th>
                
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                    {
                        <td>
                            <a href="@Url.Action("Edit", new { id= item.ClassDateID})" class="fa fa-pencil-square-o"></a> |
                            <a href="@Url.Action("Delete", new { id= item.ClassDateID} )" class="fa fa-trash"></a>
                        </td>
                    }
                    <td>
                        @Html.ActionLink(item.StoreClass.ClassName, "Details", new { id = item.ClassDateID })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClassLimit)
                    </td>
                </tr>

            }
        </tbody>

    </table>
</div>
