@model IEnumerable<FSDP.DATA.LessonView>

@{
    ViewBag.Title = "Lesson Views";
}
<div class="container">
    <h2>@ViewBag.Title</h2>

    <p>
        @Html.ActionLink("Add New Lesson View", "Create")
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DateViewed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AspNetUser.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lesson.LessonTitle)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateViewed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AspNetUser.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lesson.LessonTitle)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.LessonViewID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.LessonViewID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.LessonViewID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>