@model IEnumerable<FSDP.DATA.Quiz>

@{
    ViewBag.Title = "Quizzes";
}

<div class="container">
    <h2>@ViewBag.Title</h2>

    <p>
        @Html.ActionLink("Add New Quiz", "Create")
    </p>
    <table class="table">
        <tbody>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Question)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Answer)
                </th>
                <th></th>
            </tr>
        </tbody>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Question)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Answer)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.QuizID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.QuizID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.QuizID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
