@model IEnumerable<FSDP.DATA.ClassSignUp>

@{
    ViewBag.Title = "Class Sign Ups";
}

<div class="container page">
    <h1 class="text-center">@ViewBag.Title</h1>
    @if (User.IsInRole("Admin"))
    {
        <h2>
            <a href="@Url.Action("Create")" class="fa fa-plus-square-o" title="Add New Class Sign Up"> Class Sign Up</a>
        </h2>
    }
    <table class="table">
        <thead>
            <tr>
                @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                {
                    <th></th>}
                <th>
                    @Html.DisplayNameFor(model => model.AspNetUser.FullName)
                </th>
                <th>@Html.DisplayNameFor(model => model.ClassDate.StoreClass.ClassName)</th>
                <th>
                    @Html.DisplayNameFor(model => model.ClassDate.DateTime)
                </th>
            </tr>
            </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                    {
                        <td class="manage">
                            <a href="@Url.Action("Edit", new { id= item.ClassSignUpID})" title="Edit" class="fa fa-pencil-square-o"></a> |
                            <a href="@Url.Action("Delete", new { id= item.ClassSignUpID} )" title="Delete" class="fa fa-trash"></a>
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.AspNetUser.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClassDate.StoreClass.ClassName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClassDate.DateTime)
                    </td>
                    @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ClassSignUpID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ClassSignUpID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ClassSignUpID })
                    </td>*@
                </tr>
            }
        </tbody>
    </table>
    </div>