@model IEnumerable<FSDP.DATA.ClassSignUp>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <thead>
            <tr>
                @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                {
                <th></th>}
                <th>
                    @Html.DisplayNameFor(model => model.AspNetUser.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClassDate.NameDate)
                </th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @if (User.IsInRole("Admin")||User.IsInRole("Manager"))
                    {
                    <td>
                        <a href="@Url.Action("Edit", new { id= item.ClassSignUpID})" class="fa fa-pencil-square-o"></a> |
                        <a href="@Url.Action("Delete", new { id= item.ClassSignUpID} )" class="fa fa-trash"></a>
                    </td>
                    }
                    <td>
                        @Html.ActionLink(item.AspNetUser.FullName, "Details", new { id = item.ClassSignUpID })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClassDate.NameDate)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>