@model IEnumerable<FSDP.UI.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Edit", new { id= item.Id})" class="fa fa-pencil-square-o"></a> |
                        <a href="@Url.Action("Delete", new { id= item.Id} )" class="fa fa-trash"></a>
                    </td>
                    <td>
                        @Html.ActionLink(item.UserName, "Details", new { id = item.Id })
                    </td>

                </tr>
            }
        </tbody>

    </table>
</div>
