@model FSDP.DATA.Course
@using FSDP.DATA
@{
    ViewBag.Title = Model.CourseName;
    FSDPDbEntities db = new FSDPDbEntities();
    var currentCourseId = Model.CourseID;
    var courseLessons = db.Lessons.Where(x => x.CourseID == currentCourseId);

}


<div class="container page">
    @if (User.IsInRole("Admin"))
    {
        <h3 class="text-right">
            @Html.DisplayNameFor(model => model.IsActive)
            @Html.DisplayFor(model => model.IsActive)
        </h3>
    }
    <h1 class="text-center">@ViewBag.Title</h1>

    <div class="row justify-content-md-center" style="vertical-align:middle">
        @if (Model.CourseImage != "noimage.jpg")
        {
            <div class="col-md-6">
                <img src="@Url.Content("~/Content/Images/Courses/" + Model.CourseImage)" />
            </div>
        }
        <div class="col-md-6" id="courseDesc">
            <h2>@Html.DisplayFor(model => model.CourseDescription)</h2>
            <br /><br /><br /><br />
            <div>
                @if (User.IsInRole("Admin"))
                {
                    @*@Html.ActionLink("Edit", "Edit", "Courses", new { id = Model.CourseID, @class = "btn btn-cancel" })*@
                    <a href="~/Courses/Edit/@Model.CourseID" class="btn btn-cancel">Edit</a>
                }

                @Html.ActionLink("Back to List", "Index", "Courses", new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
    <br />
    <hr />
    <br />
    <h1 class="text-center">Lessons</h1>
    <table class="table">
        <thead>
            <tr>
                @if (User.IsInRole("Admin"))
                {
                    <th></th>
                }

                <th>
                    Lesson Title
                </th>
                <th>
                    Introduction
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.LessonImage)
                    </th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (Lesson lesson in courseLessons)
            {
                <tr>
                    @if (User.IsInRole("Admin"))
                    {
                        <td class="manage">
                            <a href="@Url.Action("Edit", new { id= lesson.LessonID})" title="Edit" class="fa fa-pencil-square-o"></a> |
                            <a href="@Url.Action("Delete", new { id= lesson.LessonID} )" title="Delete" class="fa fa-trash"></a>
                        </td>
                    }
                    <td>
                        @Html.ActionLink(lesson.LessonTitle, "Details", new { id = lesson.LessonID })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => lesson.Introduction)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.LessonImage)
                        </td>*@
                </tr>
            }
        </tbody>

    </table>
</div>
