@model IEnumerable<FSDP.DATA.Course>

@{
    ViewBag.Title = "Courses";
}

<div class="container">
    <h2>@ViewBag.Title</h2>

    <p>
        @Html.ActionLink("Add New Course", "Create")
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CourseName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseImage)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        <img src="@Url.Content("~/Content/Images/Courses/t_"+item.CourseImage)" />
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.CourseID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.CourseID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.CourseID })
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
</script>
    }
