@model IEnumerable<FSDP.DATA.Course>

@{
    ViewBag.Title = "Courses";
}

<div class="container">
    <h2>@ViewBag.Title</h2>

    <p>
        @Html.ActionLink("Add New Course", "Create")
    </p>
    <table class="table">
        <thead>
            <tr>
                @if (User.IsInRole("Admin"))
                {
                    <th></th>
                }
                
                <th>
                    @Html.DisplayNameFor(model => model.CourseName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseImage)
                </th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                            <a href="@Url.Action("Edit", new { id= item.CourseID})" class="fa fa-pencil-square-o"></a> |
                            <a href="@Url.Action("Delete", new { id= item.CourseID} )" class="fa fa-trash"></a>
                        </td>
                    }
                    <td>
                        @Html.ActionLink(item.CourseName, "Details", new { id = item.CourseID })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        <img src="@Url.Content("~/Content/Images/Courses/t_"+item.CourseImage)" />
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

@section scripts{
    }
